# Things we get while testing/developing
ag
torus
torus.exe
*.arigato.json
*.torus.json
torus.msi
wix.json

travis/id_rsa*
builds/*

# Our 3rd party deps
.glide
vendor/*

# Code generators
tools/bin

# Editor and OS stuff
.DS_Store
*.sw[mnop]
*.orig
