{
    "extends": "airbnb-base/legacy",
    "rules": {
      "func-names": "off",
      "no-console": "off",
      "no-underscore-dangle": "off",
      "vars-on-top": "off",
      "no-param-reassign": "off"
    }
}
